@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Handwriting animation */
.handwriting {
  font-family: "Pacifico", cursive;
  position: relative;
  display: inline-block;
}

.handwriting::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white; /* same as background */
  animation: handwriting 4s ease forwards;
  z-index: 1;
}

@keyframes handwriting {
  0% {
    width: 100%;
    left: 0;
    right: auto;
  }
  100% {
    width: 0%;
    left: 100%;
    right: auto;
  }
}
